*{
  box-sizing: border-box;
}

body{
  padding : 0;
  margin : 0;
  background-color : #222;
}
nav{
  display : flex;
  flex-direction : row;
  justify-content : space-around;
  align-items : center;
  background-color : black;
  color : #7e7e7e;
  padding-right : 10vw;
  padding-left : 10vw;
  padding-top : 0.6%;
  padding-bottom : 0.6%;
  border-bottom : 1px solid #44D62C;
  position : fixed;
  top : 0px;
  width : 100%;
}

nav a{
  text-decoration : none;
  color : #797979;
  font-family : RazerF5, Helvetica Neue, Arial, Noto Sans, sans-serif;
}

nav a:hover {
  color : white;
}

nav img {
  width : 36px;
  height : 36px;
}

.icons {
  width : 28px;
  height : 28px;
}

.tempDiv {
  background-color : #555;
  color : white;
  border : 1px solid transparent;
  font-family : Roboto,sans-serif;
  font-size : 14px;
  padding-left : 29%;
  padding-right : 29%;
  padding-top : 8vh;
  letter-spacing : 0.3px;
}

.tempDiv a{
  text-decoration : none;
  color : white;
}

.tempDiv a:hover {
  text-decoration : underline;
}

.banner-div img {
  max-width:100%; 
  
  height:auto;
}

.side-banner {
  margin-top : 0.8vh;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : center;
}

.side-banner img {
  width : 49.1vw;
}

footer {
  background-color : #111;
  display : flex;
  flex-direction : row;
  justify-content : space-between;
  align-items : flex-start;
  padding-left : 8vw;
  padding-right : 7vw;
  padding-top : 1vh;
  font-family : Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
  font-size : 12px;
}

ul {
  list-style: none;
  line-height: 4vh;
}

.li-1st {
  color : #fff;
}

li a {
  color : #999;
  text-decoration : none;
}

li a:hover {
  text-decoration : underline;
  color : white;
}

.gamers {
  color : #44d62c;
  padding-top : 1.1vh;
  font-size : 14px;
}

.gamers div {
  float: right;
  margin-top : -1.5vh;
}

.gamers div a {
  margin-left : 4px;
  margin-right : 4px;
}


